<div class="content">
  <div class="jumbotron right">
    <h1>Gravacat!</h1>
    <h3>The (completely) illegitimate offspring of <%=link_to "{placekitten}", "http://www.placekitten.com" %> and <%=link_to "Gravatar", "http://www.gravatar.com"%></h3>
  </div>
  <p>Are you <em>tired</em> of users not bothering to upload an avatar onto your site? Do you need to create a bunch of fake users and are bored of the default Gravatar icon? Well then Gravacat is for you!</p>
  <p>Simply include some sort of hash of your user's email address after the slash and we'll send you your very own tiny cat picture!</p>
  <p>Example: <code>http://gravacat.trevorfenn.info/&lt;hash here&gt;</code> 
  <p>(Or use random, rand, or r to get a random one every time)</p>
  <p><small>Right now all images are 200x200, so deal with it.</small></p>
  <p><small>Images stay consistent until more images are uploaded</small></p>
  <div class="images">
    <%= getImages(@num_images) %>
  </div>
</div>
<footer>
  <small>Created by <%= link_to "Trevor Fenn", "http://www.TrevorFenn.info" %>. Licensed under the <%= link_to "MIT License", "http://opensource.org/licenses/MIT" %>
</footer>
